# Byte-compiled / optimized / DLL files
__pychache__/
*.py[cod]
*$py.class
.python-version

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
dist/
eggs/
lib/
bin/
include/

# Unit test / coverage reports
.coverage
coverage-html
.tox
nosetests.xml
@test_*

# readthedocs
docs/_build

.DS_Store
pip-selfcheck.json
